[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "visual-studio-code-bin"]
	path = visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "kr-bin"]
	path = kr-bin
	url = https://aur.archlinux.org/kr-bin.git
[submodule "ngrok"]
	path = ngrok
	url = https://aur.archlinux.org/ngrok.git
[submodule "pacrepo-cli"]
	path = pacrepo-cli
	url = https://github.com/jckimble/pacrepo-cli.git
